.header{
    padding: 0 20px;
    &-left{
        height: 50px;
        &--logo{
            img{
                width: 90px;
                height: 35px;
            }
        }
        &--menu{
            &__section{
                margin-right: 30px;
                position: relative;
                margin-top: 6px;
                cursor: pointer;
                height: 45px;
                &:hover{
                    span{
                        color: #009393;
                        font-weight: 500;
                    }
                    img{
                        filter: grayscale(0);
                    }
                    .sub-menu{
                        display: flex !important;
                    }
                }
                &::after{
                    content: '';
                    width: 1px;
                    height: 20px;
                    background-color: #E7E7E7;
                    position: absolute;
                    right: -18px;
                    top: calc(50% - 10px);
                }
                span{
                    font-size: 0.75rem;
                }
                img{
                    filter: grayscale(1);
                }
            }
            .last-item{
                margin-right: 0;
                &::after{
                    display: none;
                }
            }
        }
    }
    &-right{
        &--user{
            cursor: pointer;
            &__icon{
                background-color: #E9E9E9;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                img{
                    width: 30px;
                    width: 30px;
                }
            }
            &__name{
                span{
                    font-size: 0.875rem;
                    font-weight: 500;
                }
                img{}
            }
        }
    }
}
.sub-menu{
    position: absolute;
    background-color: #fff;
    top: 45px;
    left: -10px;
    z-index: 999;
    width: 200px;
    display: none !important;
    box-shadow: 0 2px 4px #0000004a;
    // border: 1px solid #cde6fd;
    span{
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 0.875rem;
        &:hover{
            background-color: #009393;
            color: #fff;
        }
    }
}