<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="sub-header d-flex justify-content-between">
                <div class="sub-header--left">
                    <span>Add New Customer</span>
                </div>
                <div class="sub-header--right">
                    <span>Last Login : Jul 4, 2024, 7:48:41 PM</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3 px-3">
            <div class="content-area">
                <div class="content-area--header px-3 d-flex justify-content-between align-items-center">
                    <h3 class="m-0">Add Customer</h3>
                </div>
                <div class="content-area--section">
                    <div class="d-flex justify-content-between gap-2 px-3">
                        <div class="inp-field">
                            <label for="" class="label">Company Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="inp-field">
                            <label for="" class="label">Contact Person Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="inp-field">
                            <label for="" class="label">Building No./Unit No.</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="inp-field">
                            <label for="" class="label">Street Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="inp-field">
                            <label for="" class="label">City</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between gap-2 px-3">
                        <div class="inp-field mt-2 d-flex flex-column justify-content-between">
                            <label for="" class="label">Province</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Alberta">Alberta</mat-option>
                                    <mat-option value="Manitoba">Manitoba</mat-option>
                                    <mat-option value="Yukon">Yukon</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="inp-field mt-2">
                            <label for="" class="label">Postal Code</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="inp-field mt-2">
                            <label for="" class="label">Cellphone Number</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="inp-field mt-2">
                            <label for="" class="label">Office Number</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="inp-field mt-2">
                            <label for="" class="label">Email</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="d-flex gap-2 px-3">
                        <div class="inp-field mt-2">
                            <label for="" class="label">Website</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="inp-field mt-2">
                            <label for="" class="label">FAX</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="inp-field mt-2">
                            <label for="" class="label">GST</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="d-flex gap-2 px-3">
                        <div class="inp-field mt-2 position-relative">
                            <input type="checkbox" id="favourite" class="checkbox-input form-check-input mt-0 position-absolute">
                            <label for="favourite" class="checkbox-label d-flex align-items-center gap-3">
                                Favourite Customer
                            </label>
                        </div>
                    </div>
                    <div class="d-flex gap-2 px-3">
                        <div class="inp-field mt-2 w-100">
                            <label for="" class="label">Payment Terms</label>
                            <textarea name="" id="" class="form-control" style="height: 100px;"></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-2 px-3 mb-2 mt-3">
                        <button class="btn btn-secondary">Reset</button>
                        <button class="btn btn-primary">Add Customer</button>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>