.legend-area{
    border: 1px solid #80bebe;
    border-radius: 5px;
}
.legend{
    top: -10px;
    background-color: #009393;
    border-radius: 3px;
    font-size: 0.875rem;
    left: 17px;
    color: #fff;
    padding: 0px 10px;
}