.legend-area{
    border: 1px solid #ebebeb;
    border-radius: 5px;
}
.legend{
    top: -10px;
    background-color: #fff;
    font-size: 0.875rem;
    left: 7px;
    color: #009393;
    padding: 0px 10px;
}