<div class="container-fuild auth-page">
    <div class="m-0 d-flex">
        <div class="p-0 auth-page--banner">
            <div class="auth-page--banner_section w-100 h-100">
                <!-- <img src="../../../../assets/images/auth-banner.png" alt=""> -->
            </div>
        </div>
        <div class="p-0 auth-page--login">
            <div class="auth-page--login_page d-flex flex-column justify-content-between h-100">
                <div class="logo">
                    <img src="../../../../assets/images/logo.png" alt="">
                </div>
                <div class="form d-flex flex-column justify-content-between">
                    <div class="form-header">
                        <h4 class="m-0">Hello,</h4>
                        <h2 class="m-0">Welcome to Tonnij</h2>
                        <p>Hey! Good to see you again</p>
                    </div>
                    <div class="form-section">
                        <div class="d-flex w-100 gap-3">
                            <div class="inp-field w-100">
                                <label for="" class="label">Name*</label>
                                <div class="inp-field--area d-flex align-items-center ps-0">
                                    <!-- <img src="../../../../assets/icons/mail-icon.svg" alt=""> -->
                                    <input type="text" class="form-control" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="inp-field w-100">
                                <label for="" class="label">Email*</label>
                                <div class="inp-field--area d-flex align-items-center ps-0">
                                    <!-- <img src="../../../../assets/icons/mail-icon.svg" alt=""> -->
                                    <input type="text" class="form-control" placeholder="Enter Email">
                                </div>
                            </div>
                        </div>
                        <div class="inp-field mt-2 w-100">
                            <label for="" class="label">Cellphone*</label>
                            <div class="inp-field--area d-flex align-items-center ps-0">
                                <!-- <img src="../../../../assets/icons/password-icon.svg" alt=""> -->
                                <input type="text" class="form-control" placeholder="Enter Cellphone">
                            </div>
                        </div>
                        <div class="d-flex w-100 gap-3 mt-2">
                            <div class="inp-field w-100">
                                <label for="" class="label">Password*</label>
                                <div class="inp-field--area d-flex align-items-center ps-0">
                                    <!-- <img src="../../../../assets/icons/mail-icon.svg" alt=""> -->
                                    <input type="password" class="form-control" placeholder="***********">
                                </div>
                            </div>
                            <div class="inp-field w-100">
                                <label for="" class="label">Confirm Password*</label>
                                <div class="inp-field--area d-flex align-items-center ps-0">
                                    <!-- <img src="../../../../assets/icons/mail-icon.svg" alt=""> -->
                                    <input type="password" class="form-control" placeholder="***********">
                                </div>
                            </div>
                        </div>
                        <div class="inp-field mt-2 w-100">
                            <label for="" class="label">Country</label>
                            <div class="inp-field--area d-flex align-items-center ps-0">
                                <!-- <img src="../../../../assets/icons/password-icon.svg" alt=""> -->
                                <input type="text" class="form-control" placeholder="Enter Country">
                            </div>
                        </div>
                        <div class="inp-field d-flex w-100 justify-content-between my-3">
                            <div class="remember d-flex gap-2 align-items-center">
                                <input type="checkbox" name="" id="terms" class="m-0 form-check-input">
                                <label for="terms">I agree to the <a>Terms & Conditions</a></label>
                            </div>
                        </div>
                        <div class="submit">
                            <button class="btn btn-primary w-100">Register</button>
                        </div>
                        <div class="register mt-3">
                            <p class="m-0 text-center">Already Signed? <a routerLink="/login">Sign in Here</a></p>
                        </div>
                    </div>
                </div>
                <div class="auth-page--login_page-footer">
                    <div class="auth-page--login_page-footer--link">
                        <div class="auth-page--login_page-footer--link_span d-flex justify-content-center">
                            <a href="#">About Us</a>
                            <a href="#">For Drivers</a>
                            <a href="#">For Vendors</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class="auth-page--login_page-footer--maker">
                        <p class="m-0 text-center">Developed and Maintained by Nijomee Technologies Pvt. Ltd. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>