.popup{
    width: 600px;
    &-header{
        padding: 10px 20px;
        background-color: #009393;
        height: 50px;
        h2{
            color: #fff;
            font-size: 1.25rem;
        }
        .btn{
            color: #fff;
            font-size: 1.25rem;
            &:focus{
                box-shadow: none;
            }
            &:active{
                border-color: transparent;
            }
        }
    }
    &-body{
        padding: 10px 20px;
    }
}
.inp-field{
    width: 49%;
}