.popup {
    width: 450px;
    height: 50dvh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    &--text{
        span{
            text-align: center;
        }
        img{
            width: 50%;
        }
    }
}