<div class="popup">
    <div class="popup-header d-flex justify-content-between align-items-center">
        <h2 class="m-0">License of {{data.name}}</h2>
        <button class="btn" (click)="toClose()"><i class="fa-regular fa-circle-xmark"></i></button>
    </div>
    <div class="popup-body">
        <div class="popup-body--content">
            <lib-ngx-image-zoom
                [thumbImage] = data.src 
                [fullImage] = data.src
            ></lib-ngx-image-zoom>
        </div>
    </div>
</div>